:root{
	--mint: #96ceb4 ;
	--mint1: #86bea4 ; 
	--darkmint: #68a187 ;
	--cream: #ffefae ;
	--darkcream: #d7b36e ;
	--palecream: #fdf6e3 ;
	--brick: #d9534f ;
	--tangerine: #ffad60 ;
	--white: #ffffff ;
	--grey: #dfdfdc ;
	--darkishgrey: #454549 ;
	--raven: #17223b ;
	--blue: #3772db ;
}

body {
	font-family: monospace ;
	color: var( --raven ) ;
	background-color: var( --white ) ;
}
ul , p{
	list-style-type: square ; 
	font-size: 15px ;
}
a{
	color: var( --raven ) ;
}
i{
	color: var( --darkmint ) ;
}
li::marker {
  color: var(--darkcream); 
}
.header{
	width: 100% ; 
	display: flex ;
	justify-content: center ;
}
.lisp, .fileheader{
	border: 2px solid var( --raven );
	padding: 0 15px 0 15px ;
	background-color: var( --white ) ;
}
.fileheader{
	border-bottom-width: 0px ;
}
.fileheader *{
	color: var( --darkcream ) ;
}
.lisp {
	padding: 0px 15px 10px 15px ;
	line-height: 20px ;
}
.lisp code{
	white-space: pre-wrap;
}
.content{
	width: 60% ;
	max-width: 600px ;
	padding-left: 30px ;
	padding-right: 30px ;
	padding-top: 45px ;
	padding-bottom: 45px ;
	margin: auto ;
	line-height: 30px ;
	border-width: 2px ;
	border-style: solid ;
	border-color: var( --raven ) ;

}
#title,#titleL,#titleR{
	text-align: left ;
	padding: 15px ;
	border-width: 2px ; 
	border-style: solid ; 
	border-color: var( --raven ) ;
}
#titleL{
	border-right-width: 1px ;
	vertical-align: center ;
}
#titleR{
	border-left-width: 1px ;
}
#return, #next{
	border-width: 2px ;
	border-style: dashed ; 
	padding: 5px ;
	border-color: var( --raven ) ;
}
#return{
	color: var( --brick );
}
#next{
	color: var( --blue );
}

